uruma/src/main/resources/org/seasar/uruma/component/factory/uruma.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://uruma.sandbox.seasar.org"
  targetNamespace="http://uruma.sandbox.seasar.org"
  elementFormDefault="qualified">

  <!--========== element ==========-->
  <xs:element name="template">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:param" minOccurs="0" maxOccurs="unbounded" />
        <xs:choice>
          <xs:element ref="tns:window" />
          <xs:element ref="tns:viewPart" />
          <xs:element ref="tns:componentDef" />
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="extends" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <xs:element name="window">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Decorations">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="tns:compositeElems" minOccurs="0"
                maxOccurs="unbounded" />
            </xs:choice>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="imeInputMode" type="tns:SWTConst" />
          <xs:attribute name="minimumWidth" type="xs:int" />
          <xs:attribute name="minimumHeight" type="xs:int" />
          <xs:attribute name="defaultFocusId" type="xs:string" />
          <xs:attribute name="statusLine" type="xs:boolean" />
          <!-- TODO region -->
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="viewPart">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:IdItem">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="tns:compositeElems" minOccurs="0"
                maxOccurs="unbounded" />
            </xs:choice>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="title" type="xs:string" />
          <xs:attribute name="image" type="xs:string" />
          <xs:attribute name="category" type="xs:string" />
          <xs:attribute name="allowMultiple" type="xs:boolean"
            default="false" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="editorPart">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:IdItem">
          <xs:sequence>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:group ref="tns:compositeElems" minOccurs="0"
                maxOccurs="unbounded" />
            </xs:choice>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="title" type="xs:string" />
          <xs:attribute name="image" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="componentDef">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:param" minOccurs="0" maxOccurs="unbounded" />
        <xs:element ref="tns:control" minOccurs="1" maxOccurs="1" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="include" substitutionGroup="tns:compositeChild">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:IdItem">
          <xs:sequence>
            <xs:element ref="tns:param" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:control" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="name" use="required" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="param">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- common elements -->
  <xs:group name="controlElems">
    <xs:choice>
      <xs:element ref="tns:layoutData" minOccurs="0" maxOccurs="1" />
      <xs:element ref="tns:menu" minOccurs="0" maxOccurs="1" />
    </xs:choice>
  </xs:group>
  <xs:group name="compositeElems">
    <xs:choice>
      <xs:group ref="tns:controlElems" minOccurs="0"
        maxOccurs="unbounded" />
      <xs:element ref="tns:layout" minOccurs="0" maxOccurs="1" />
      <xs:element ref="tns:commonAttributes" minOccurs="0"
        maxOccurs="1" />
    </xs:choice>
  </xs:group>

  <xs:element name="commonAttributes">
    <xs:complexType>
      <xs:attribute name="background" type="tns:Color" />
      <xs:attribute name="width" type="xs:string" />
      <xs:attribute name="height" type="xs:string" />
      <xs:attribute name="fontHeight" type="xs:int" />
      <xs:attribute name="fontName" type="xs:string" />
      <xs:attribute name="fontStyle" type="tns:SWTConst" />
      <xs:attribute name="foreground" type="tns:Color" />
    </xs:complexType>
  </xs:element>

  <!-- abstract -->
  <xs:element name="compositeChild" abstract="true" type="tns:IdItem" />

  <xs:element name="control" abstract="true" type="tns:ControlClass"
    substitutionGroup="tns:compositeChild" />

  <xs:element name="layout" abstract="true" />
  <xs:element name="layoutData" abstract="true" />

  <!-- layout -->
  <xs:element name="fillLayout" substitutionGroup="tns:layout">
    <xs:complexType>
      <xs:attribute name="marginHeight" type="xs:int" />
      <xs:attribute name="marginWidth" type="xs:int" />
      <xs:attribute name="spacing" type="xs:int" />
      <xs:attribute name="type" type="tns:Direction" />
    </xs:complexType>
  </xs:element>
  <xs:element name="gridLayout" substitutionGroup="tns:layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:gridData" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="horizontalSpacing" type="xs:int" />
      <xs:attribute name="makeColumnsEqualWidth" type="xs:boolean" />
      <xs:attribute name="marginBottom" type="xs:int" />
      <xs:attribute name="marginHeight" type="xs:int" />
      <xs:attribute name="marginLeft" type="xs:int" />
      <xs:attribute name="marginRight" type="xs:int" />
      <xs:attribute name="marginTop" type="xs:int" />
      <xs:attribute name="marginWidth" type="xs:int" />
      <xs:attribute name="numColumns" type="xs:int" />
      <xs:attribute name="verticalSpacing" type="xs:int" />
    </xs:complexType>
  </xs:element>
  <xs:element name="rowLayout" substitutionGroup="tns:layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:rowData" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="fill" type="xs:boolean" />
      <xs:attribute name="justify" type="xs:boolean" />
      <xs:attribute name="marginBottom" type="xs:int" />
      <xs:attribute name="marginHeight" type="xs:int" />
      <xs:attribute name="marginLeft" type="xs:int" />
      <xs:attribute name="marginRight" type="xs:int" />
      <xs:attribute name="marginTop" type="xs:int" />
      <xs:attribute name="marginWidth" type="xs:int" />
      <xs:attribute name="pack" type="xs:boolean" />
      <xs:attribute name="spacing" type="xs:int" />
      <xs:attribute name="type" type="tns:Direction" />
      <xs:attribute name="wrap" type="xs:boolean" />
    </xs:complexType>
  </xs:element>
  <xs:element name="formLayout" substitutionGroup="tns:layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:formData" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute name="marginBottom" type="xs:int" />
      <xs:attribute name="marginHeight" type="xs:int" />
      <xs:attribute name="marginLeft" type="xs:int" />
      <xs:attribute name="marginRight" type="xs:int" />
      <xs:attribute name="marginTop" type="xs:int" />
      <xs:attribute name="marginWidth" type="xs:int" />
      <xs:attribute name="spacing" type="xs:int" />
    </xs:complexType>
  </xs:element>

  <!-- layoutData -->
  <xs:element name="gridData" substitutionGroup="tns:layoutData">
    <xs:complexType>
      <xs:attribute name="exclude" type="xs:boolean" />
      <xs:attribute name="grabExcessHorizontalSpace" type="xs:boolean" />
      <xs:attribute name="grabExcessVerticalSpace" type="xs:boolean" />
      <xs:attribute name="heightHint" type="xs:int" />
      <xs:attribute name="horizontalAlignment" type="tns:SWTConst" />
      <xs:attribute name="horizontalIndent" type="xs:int" />
      <xs:attribute name="horizontalSpan" type="xs:int" />
      <xs:attribute name="minimumHeight" type="xs:int" />
      <xs:attribute name="minimumWidth" type="xs:int" />
      <xs:attribute name="verticalAlignment" type="tns:SWTConst" />
      <xs:attribute name="verticalIndent" type="xs:int" />
      <xs:attribute name="verticalSpan" type="xs:int" />
      <xs:attribute name="widthHint" type="xs:int" />
    </xs:complexType>
  </xs:element>
  <xs:element name="rowData" substitutionGroup="tns:layoutData">
    <xs:complexType>
      <xs:attribute name="exclude" type="xs:boolean" />
      <xs:attribute name="height" type="xs:int" />
      <xs:attribute name="width" type="xs:int" />
    </xs:complexType>
  </xs:element>
  <xs:element name="formData" substitutionGroup="tns:layoutData">
    <xs:complexType>
      <xs:all>
        <xs:element name="bottom" type="tns:FormAttachement"
          minOccurs="0" maxOccurs="1" />
        <xs:element name="left" type="tns:FormAttachement" minOccurs="0"
          maxOccurs="1" />
        <xs:element name="right" type="tns:FormAttachement"
          minOccurs="0" maxOccurs="1" />
        <xs:element name="top" type="tns:FormAttachement" minOccurs="0"
          maxOccurs="1" />
      </xs:all>
      <xs:attribute name="height" type="xs:int" />
      <xs:attribute name="width" type="xs:int" />
    </xs:complexType>
  </xs:element>

  <!--===== composite elements =====-->
  <!-- menu -->
  <xs:element name="menu">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Widget">
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:menu" />
            <xs:element ref="tns:menuItem" />
            <xs:element ref="tns:separator" />
          </xs:choice>
          <xs:attribute name="text" type="xs:string" />
          <xs:attribute name="visible" type="xs:boolean" default="true" />
          <xs:attribute name="x" type="xs:int" />
          <xs:attribute name="y" type="xs:int" />
          <xs:attribute name="enabledDependId" type="xs:string" />
          <xs:attribute name="enabledDependType"
            type="tns:EnabledDependType" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PreMenuItem">
    <xs:complexContent>
      <xs:restriction base="tns:Item">
        <xs:attribute name="style">
          <xs:simpleType>
            <xs:restriction base="tns:SWTConst">
              <xs:enumeration value="CHECK" />
              <xs:enumeration value="RADIO" />
              <xs:enumeration value="PUSH" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="menuItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:PreMenuItem">
          <xs:attribute name="accelerator" type="tns:Accelerator" />
          <xs:attribute name="enabled" type="xs:boolean" />
          <xs:attribute name="selection" type="xs:boolean" />
          <xs:attribute name="description" type="xs:string" />
          <xs:attribute name="disabledImage" type="tns:Image" />
          <xs:attribute name="hoverImage" type="tns:Image" />
          <xs:attribute name="enabledDependId" type="xs:string" />
          <xs:attribute name="enabledDependType"
            type="tns:EnabledDependType" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="separator" />

  <!-- canvas -->
  <xs:element name="canvas" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- composite -->
  <xs:element name="composite" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- combo -->
  <xs:element name="combo" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:item" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="orientation" type="tns:Orientation" />
          <xs:attribute name="text" type="xs:string" />
          <xs:attribute name="textLimit" type="xs:int" />
          <xs:attribute name="visibleItemCount" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- coolBar -->
  <xs:element name="coolBar" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:coolItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="locked" type="xs:boolean" />
          <xs:attribute name="wrapIndices" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="coolItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <xs:sequence>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="1" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- group -->
  <xs:element name="group" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="text" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- spinner -->
  <xs:element name="spinner" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="digits" type="xs:int" />
          <xs:attribute name="increment" type="xs:int" />
          <xs:attribute name="maximum" type="xs:int" />
          <xs:attribute name="minimum" type="xs:int" />
          <xs:attribute name="pageIncrement" type="xs:int" />
          <xs:attribute name="selection" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- tabFolder -->
  <xs:element name="tabFolder" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:tabItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="selection" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="tabItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <xs:sequence>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="toolTipText" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- table -->
  <xs:element name="table" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:tableColumn" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:tableItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="columnOrder" type="xs:string" />
          <xs:attribute name="headerVisible" type="xs:boolean" />
          <xs:attribute name="linesVisible" type="xs:boolean" />
          <xs:attribute name="selection" type="xs:string" />
          <xs:attribute name="topIndex" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PreTableColumn">
    <xs:complexContent>
      <xs:restriction base="tns:Item">
        <xs:attribute name="style" type="tns:Alignment" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="tableColumn">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:PreTableColumn">
          <xs:attribute name="alignment" type="tns:Alignment" />
          <xs:attribute name="moveable" type="xs:boolean" />
          <xs:attribute name="resizable" type="xs:boolean" />
          <xs:attribute name="toolTipText" type="xs:string" />
          <xs:attribute name="width" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="tableItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <xs:sequence>
            <xs:element ref="tns:tableCell" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="background" type="tns:Color" />
          <xs:attribute name="checked" type="xs:boolean" />
          <xs:attribute name="fontHeight" type="xs:int" />
          <xs:attribute name="fontName" type="xs:string" />
          <xs:attribute name="fontStyle" type="tns:SWTConst" />
          <xs:attribute name="foreground" type="tns:Color" />
          <xs:attribute name="grayed" type="xs:boolean" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="tableCell">
    <xs:complexType>
      <xs:attribute name="background" type="tns:Color" />
      <xs:attribute name="fontHeight" type="xs:int" />
      <xs:attribute name="fontName" type="xs:string" />
      <xs:attribute name="fontStyle" type="tns:SWTConst" />
      <xs:attribute name="foreground" type="tns:Color" />
      <xs:attribute name="image" type="tns:Image" />
      <xs:attribute name="text" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!-- toolBar -->
  <xs:element name="toolBar" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:toolItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="PreToolItem">
    <xs:complexContent>
      <xs:restriction base="tns:Item">
        <xs:attribute name="style">
          <xs:simpleType>
            <xs:restriction base="tns:SWTConst">
              <xs:enumeration value="PUSH" />
              <xs:enumeration value="CHECK" />
              <xs:enumeration value="RADIO" />
              <xs:enumeration value="SEPARATOR" />
              <xs:enumeration value="DROP_DOWN" />
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="toolItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:PreToolItem">
          <xs:sequence>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="disabledImage" type="tns:Image" />
          <xs:attribute name="enabled" type="xs:boolean" />
          <xs:attribute name="hotImage" type="tns:Image" />
          <xs:attribute name="selection" type="xs:boolean" />
          <xs:attribute name="toolTipText" type="xs:string" />
          <xs:attribute name="width" type="xs:int" />
          <xs:attribute name="enabledDependId" type="xs:string" />
          <xs:attribute name="enabledDependType"
            type="tns:EnabledDependType" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- tree -->
  <xs:element name="tree" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:treeColumn" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:treeItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="headerVisible" type="xs:boolean" />
          <xs:attribute name="linesVisible" type="xs:boolean" />
          <xs:attribute name="selection" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="treeColumn">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <xs:attribute name="alignment" type="tns:SWTConst" />
          <xs:attribute name="resizable" type="xs:boolean" />
          <xs:attribute name="width" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="treeItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <xs:sequence>
            <xs:element ref="tns:treeCell" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:treeItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="background" type="tns:Color" />
          <xs:attribute name="checked" type="xs:boolean" />
          <xs:attribute name="expanded" type="xs:boolean" />
          <xs:attribute name="fontHeight" type="xs:int" />
          <xs:attribute name="fontName" type="xs:string" />
          <xs:attribute name="fontStyle" type="tns:SWTConst" />
          <xs:attribute name="foreground" type="tns:Color" />
          <xs:attribute name="grayed" type="xs:boolean" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="treeCell">
    <xs:complexType>
      <xs:attribute name="background" type="tns:Color" />
      <xs:attribute name="fontHeight" type="xs:int" />
      <xs:attribute name="fontName" type="xs:string" />
      <xs:attribute name="fontStyle" type="tns:SWTConst" />
      <xs:attribute name="foreground" type="tns:Color" />
      <xs:attribute name="image" type="tns:Image" />
      <xs:attribute name="text" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!--===== control elements =====-->
  <!-- button -->
  <xs:element name="button" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="alignment" type="tns:SWTConst" />
          <xs:attribute name="image" type="tns:Image" />
          <xs:attribute name="selection" type="xs:boolean" />
          <xs:attribute name="text" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- label -->
  <xs:element name="label" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="alignment" type="tns:Alignment" />
          <xs:attribute name="image" type="tns:Image" />
          <xs:attribute name="text" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- link -->
  <xs:element name="link" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="text" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- list -->
  <xs:element name="list" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
            <xs:element ref="tns:item" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="select" type="xs:string" />
          <xs:attribute name="topIndex" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- progressBar -->
  <xs:element name="progressBar" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="maximum" type="xs:int" />
          <xs:attribute name="minimum" type="xs:int" />
          <xs:attribute name="selection" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- scale -->
  <xs:element name="scale" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="increment" type="xs:int" />
          <xs:attribute name="maximum" type="xs:int" />
          <xs:attribute name="minimum" type="xs:int" />
          <xs:attribute name="pageIncrement" type="xs:int" />
          <xs:attribute name="selection" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- slider -->
  <xs:element name="slider" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="increment" type="xs:int" />
          <xs:attribute name="maximum" type="xs:int" />
          <xs:attribute name="minimum" type="xs:int" />
          <xs:attribute name="pageIncrement" type="xs:int" />
          <xs:attribute name="selection" type="xs:int" />
          <xs:attribute name="thumb" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- text -->
  <xs:element name="text" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" />
          </xs:sequence>
          <xs:attribute name="doubleClickEnabled" type="xs:boolean" />
          <xs:attribute name="echoChar" type="tns:char" />
          <xs:attribute name="editable" type="xs:boolean" />
          <xs:attribute name="orientation" type="tns:Orientation" />
          <xs:attribute name="selectionStart" type="xs:int" />
          <xs:attribute name="selectionEnd" type="xs:int" />
          <xs:attribute name="tabs" type="xs:int" />
          <xs:attribute name="text" type="xs:string" />
          <xs:attribute name="textLimit" type="xs:int" />
          <xs:attribute name="topIndex" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- item (combo, list) -->
  <xs:element name="item">
    <xs:complexType>
      <xs:attribute name="text" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!--===== custom =====-->
  <!-- browser -->
  <xs:element name="browser" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="text" type="xs:string" />
          <xs:attribute name="url" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- cCombo -->
  <xs:element name="cCombo" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:item" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="editable" type="xs:boolean" />
          <xs:attribute name="select" type="xs:int" />
          <xs:attribute name="text" type="xs:string" />
          <xs:attribute name="textLimit" type="xs:int" />
          <xs:attribute name="visibleItemCount" type="xs:int" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- cLabel -->
  <xs:element name="cLabel" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element name="backgroundGradient"
              type="tns:GradientColor" minOccurs="0" maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="alignment" type="tns:SWTConst" />
          <xs:attribute name="image" type="tns:Image" />
          <xs:attribute name="text" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="gradientItem">
    <xs:complexType>
      <xs:attribute name="color" type="tns:Color" use="required" />
      <xs:attribute name="percent" type="xs:int" use="required" />
    </xs:complexType>
  </xs:element>

  <!-- cTabFolder -->
  <xs:element name="cTabFolder" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element name="selectionBackgroundGradient"
              type="tns:GradientColor" minOccurs="0" maxOccurs="1" />
            <xs:element name="topRight" minOccurs="0"
              maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="tns:compositeChild" minOccurs="1"
                    maxOccurs="1" />
                </xs:sequence>
                <xs:attribute name="alignment" type="tns:SWTConst" />
              </xs:complexType>
            </xs:element>
            <xs:element ref="tns:cTabItem" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="marginHeight" type="xs:int" />
          <xs:attribute name="marginWidth" type="xs:int" />
          <xs:attribute name="borderVisible" type="xs:boolean" />
          <xs:attribute name="maximized" type="xs:boolean" />
          <xs:attribute name="maximizeVisible" type="xs:boolean" />
          <xs:attribute name="minimized" type="xs:boolean" />
          <xs:attribute name="minimizeVisible" type="xs:boolean" />
          <xs:attribute name="minimumCharacters" type="xs:int" />
          <xs:attribute name="mruVisible" type="xs:boolean" />
          <xs:attribute name="selection" type="xs:int" />
          <xs:attribute name="selectionBackground" type="tns:Color" />
          <xs:attribute name="selectionBackgroundImage"
            type="tns:Image" />
          <xs:attribute name="selectionForeground" type="tns:Color" />
          <xs:attribute name="simple" type="xs:boolean" />
          <xs:attribute name="single" type="xs:boolean" />
          <xs:attribute name="tabHeight" type="xs:int" />
          <xs:attribute name="tabPosition" type="xs:int" />
          <xs:attribute name="unselectedCloseVisible" type="xs:boolean" />
          <xs:attribute name="unselectedImageVisible" type="xs:boolean" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="cTabItem">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:Item">
          <xs:sequence>
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="fontHeight" type="xs:int" />
          <xs:attribute name="fontName" type="xs:string" />
          <xs:attribute name="fontStyle" type="tns:SWTConst" />
          <xs:attribute name="toolTipText" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- sashForm -->
  <xs:element name="sashForm" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="maximizedControlId" type="xs:string" />
          <xs:attribute name="orientation" type="tns:Direction" />
          <xs:attribute name="weights" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- styledText -->
  <xs:element name="styledText" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="lineBackground" minOccurs="0"
                maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="startLine" type="xs:int" />
                  <xs:attribute name="lineCount" type="xs:int" />
                  <xs:attribute name="color" type="tns:Color" />
                </xs:complexType>
              </xs:element>
              <xs:element name="styleRange" type="tns:StyleRange"
                minOccurs="0" maxOccurs="unbounded" />
            </xs:choice>
          </xs:sequence>
          <xs:attribute name="caretOffset" type="xs:int" />
          <xs:attribute name="doubleClickEnabled" type="xs:boolean" />
          <xs:attribute name="editable" type="xs:boolean" />
          <xs:attribute name="horizontalIndex" type="xs:int" />
          <xs:attribute name="horizontalPixel" type="xs:int" />
          <xs:attribute name="orientation" type="tns:SWTConst" />
          <xs:attribute name="selectionStart" type="xs:int" />
          <xs:attribute name="selectionEnd" type="xs:int" />
          <xs:attribute name="selectionBackground" type="tns:Color" />
          <xs:attribute name="selectionForeground" type="tns:Color" />
          <xs:attribute name="tabs" type="xs:int" />
          <xs:attribute name="text" type="xs:string" />
          <xs:attribute name="textLimit" type="xs:int" />
          <xs:attribute name="topIndex" type="xs:int" />
          <xs:attribute name="topPixel" type="xs:int" />
          <xs:attribute name="wordWrap" type="xs:boolean" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <!-- viewForm -->
  <xs:element name="viewForm" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element name="topLeft" type="tns:hasCompositeChild"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="topCenter" type="tns:hasCompositeChild"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="topRight" type="tns:hasCompositeChild"
              minOccurs="0" maxOccurs="1" />
            <xs:element name="content" type="tns:hasCompositeChild"
              minOccurs="0" maxOccurs="1" />
          </xs:sequence>
          <xs:attribute name="horizontalSpacing" type="xs:int" />
          <xs:attribute name="marginHeight" type="xs:int" />
          <xs:attribute name="marginWidth" type="xs:int" />
          <xs:attribute name="verticalSpacing" type="xs:int" />
          <xs:attribute name="borderVisible" type="xs:boolean" />
          <xs:attribute name="topCenterSeparate" type="xs:boolean" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>


  <!--===== for user control =====-->
  <xs:element name="customComposite" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:CompositeClass">
          <xs:sequence>
            <xs:group ref="tns:compositeElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:property" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:compositeChild" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="type" use="required" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="customControl" substitutionGroup="tns:control">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:ControlClass">
          <xs:sequence>
            <xs:group ref="tns:controlElems" minOccurs="0"
              maxOccurs="unbounded" />
            <xs:element ref="tns:property" minOccurs="0"
              maxOccurs="unbounded" />
          </xs:sequence>
          <xs:attribute name="type" use="required" type="xs:string" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="xs:string" />
    </xs:complexType>
  </xs:element>

  <!--========== complexType ==========-->
  <xs:complexType name="IdItem">
    <xs:attribute name="id" type="xs:ID" />
    <!--
      <xs:attribute name="replace" type="xs:boolean" default="false" />
    -->
  </xs:complexType>

  <xs:complexType name="Widget" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:IdItem">
        <xs:attribute name="style" type="tns:SWTConst" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Item">
    <xs:complexContent>
      <xs:extension base="tns:Widget">
        <xs:attribute name="image" type="tns:Image" />
        <xs:attribute name="text" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ControlClass" abstract="true">
    <xs:complexContent>
      <xs:extension base="tns:Widget">
        <xs:attribute name="background" type="tns:Color" />
        <xs:attribute name="backgroundImage" type="tns:Image" />
        <xs:attribute name="x" type="xs:string" />
        <xs:attribute name="y" type="xs:string" />
        <xs:attribute name="width" type="xs:string" />
        <xs:attribute name="height" type="xs:string" />
        <xs:attribute name="enabled" type="xs:boolean" />
        <xs:attribute name="fontHeight" type="xs:int" />
        <xs:attribute name="fontName" type="xs:string" />
        <xs:attribute name="fontStyle" type="tns:SWTConst" />
        <xs:attribute name="foreground" type="tns:Color" />
        <xs:attribute name="toolTipText" type="xs:string" />
        <xs:attribute name="visible" type="xs:boolean" />
        <xs:attribute name="enabledDependId" type="xs:string" />
        <xs:attribute name="enabledDependType"
          type="tns:EnabledDependType" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="CompositeClass">
    <xs:complexContent>
      <xs:extension base="tns:ControlClass">
        <xs:attribute name="tabList" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="Decorations">
    <xs:complexContent>
      <xs:extension base="tns:CompositeClass">
        <xs:attribute name="defaultButtonId" type="xs:string" />
        <xs:attribute name="image" type="xs:string" />
        <xs:attribute name="title" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="FormAttachement">
    <xs:attribute name="alignment" type="tns:SWTConst" />
    <xs:attribute name="control" type="xs:string" />
    <xs:attribute name="denominator" type="xs:int" />
    <xs:attribute name="numerator" type="xs:int" />
    <xs:attribute name="offset" type="xs:int" />
  </xs:complexType>

  <xs:complexType name="GradientColor">
    <xs:sequence>
      <xs:element ref="tns:gradientItem" minOccurs="1"
        maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="vertical" type="xs:boolean" />
    <xs:attribute name="startColor" type="tns:Color" use="required" />
  </xs:complexType>

  <xs:complexType name="StyleRange">
    <xs:attribute name="background" type="tns:Color" />
    <xs:attribute name="fontStyle" type="tns:SWTConst" />
    <xs:attribute name="foreground" type="tns:Color" />
    <xs:attribute name="length" type="xs:int" />
    <xs:attribute name="start" type="xs:int" />
    <xs:attribute name="strikeout" type="xs:boolean" />
    <xs:attribute name="underline" type="xs:boolean" />
  </xs:complexType>

  <xs:complexType name="hasCompositeChild">
    <xs:sequence>
      <xs:element ref="tns:compositeChild" minOccurs="1" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <!--========== simpleType ==========-->
  <xs:simpleType name="SWTConst">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="Color">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="Image">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="Accelerator">
    <xs:restriction base="xs:string" />
  </xs:simpleType>

  <xs:simpleType name="char">
    <xs:restriction base="xs:string">
      <xs:maxLength value="1" />
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Orientation">
    <xs:restriction base="tns:SWTConst">
      <xs:enumeration value="RIGHT_TO_LEFT" />
      <xs:enumeration value="LEFT_TO_RIGHT" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Alignment">
    <xs:restriction base="tns:SWTConst">
      <xs:enumeration value="LEFT" />
      <xs:enumeration value="CENTER" />
      <xs:enumeration value="RIGHT" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Direction">
    <xs:restriction base="tns:SWTConst">
      <xs:enumeration value="HORIZONTAL" />
      <xs:enumeration value="VERTICAL" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EnabledDependType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SELECTION" />
      <xs:enumeration value="SINGLE" />
      <xs:enumeration value="PAIR" />
      <xs:enumeration value="MULTI" />
      <xs:enumeration value="NONE" />
    </xs:restriction>
  </xs:simpleType>

</xs:schema>